@font-face {
  font-family: "futuraBook";
  src: url(../fonts/book.woff2);
}

@font-face {
  font-family: "futuraBold";
  src: url(../fonts/demi.woff2);
}

@font-face {
  font-family: "futuraBkt";
  src: url(../fonts/extrabold.woff);
}

@font-face {
  font-family: "futuraCB";
  src: url(../fonts/Futura-conbold.woff);
}

*{
    box-sizing: border-box;
}

body,html{ margin: 0; padding: 0; height: 100%;}

body{
    color: #fff;
    font-family: "futuraBook";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility
}

.cover{
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    height: 100%;
    background: url(../img/cover.jpg) center center;
    background-size: cover;
}

@media only screen and (max-width: 1000px) {
    .cover{
        padding: 15px;
    }
}

.cover img{
    width: 100%;
    margin: 0px;
    display: block;
}

.novedades{
    width: 530px;
    padding: 0px;
    position: absolute;
    height: 100%;
    right: 0px;
    top: 0px;
    text-align: center;
    background: #000;
    /* background: rgba(0,0,0,0.85) */
}

@media only screen and (max-width: 1000px) {
    .novedades{
        width: 100%;
        position: relative;
        height: auto;
        background: rgba(0,0,0,0.85);
        top: 150px;
        border: 1px solid #aaa;
    }
}

.layer{
    /* background: rgba(0,0,0,0.8); */
    padding: 70px;
    padding-top: 130px;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

@media only screen and (max-width: 1000px) {
    .layer{
        transform: none;
        position: static;
        padding: 15px;
    }
}

.layer > img{
    width: auto;
    display: inline;
}

.novedades h3{
    text-transform: uppercase;
    font-family: "futuraBkt";
    letter-spacing: 0.5px;
    font-size: 35px;
    margin: 0px;
    margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
    .novedades h3{
        font-size: 25px;
    }
}

.linear{
    width: 200px;
    height: 1px;
    background: #fff;
    display: inline-block;
    margin-top: 35px;
}

.novedades p{
    font-size: 25px;
    font-family: 'futuraCB';
    margin: 50px 0px;
    margin-top: 30px;
}

.novedades .options a{
    text-decoration: none !important;
    color: #fff !important;
    background: #0c0c0c;
    padding: 12px 30px;
    padding-bottom: 13px;
    font-size: 13px;
    letter-spacing: 1.6px;
    display: inline-block;
    width: 280px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: "futuraBold";
    border-radius: 30px;
    position: relative;
}

.options a > img{
    height: 13px;
    width: auto;
    display: inline;
    position: absolute;
    top: 14px;
    right: 15px;
}

.column{
    max-width: 750px;
    margin: 0 auto;
}

.column .interior{
    max-width: 550px;
}

.column .interior.larger{
    max-width: 590px;
}

.right .interior{
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}

@media only screen and (max-width: 1000px) {
    .right .interior{
        margin-left: 0;
        margin-right: auto;
        text-align: left;
    }
}

.green{ background: #289548; } .green b{color: #ffd200;}
.yellow{ background: #e8b318; } .yellow b{color: #313777; }
.blue{ background: #313777; } .blue b{color: #e8b318; }
.red{ background: #db0010; }

h2{
    text-transform: uppercase;
    font-family: "futuraBkt";
    letter-spacing: 0.6px;
    font-size: 29px;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    padding: 18px 0px;
    margin-bottom: 40px;
}

p.sub{
    font-family: "futuraBold";
    font-size: 28px;
    line-height: 1.1;
    margin-bottom: 30px;
}

p.text{
    font-family: "futuraBold";
    font-size: 19px;
    line-height: 1.2;
    margin-bottom: 16px;
    position: relative;
    text-align: left;
}

.larger .text{
    padding-left: 35px;
}

.text b.number{
    position: absolute;
    left: 0px;
}

@media only screen and (max-width: 1000px) {
    .larger .text{
        padding-left: 20px;
    }
}

.section{
    padding: 40px 15px;
    position: relative;
}

.footer{
    background: #000;
}

.aliados{
    /* max-width: 1200px; */
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.aliados img{
    vertical-align: middle;
    /* margin: 15px 30px; */
    margin: 20px 30px;
}

@media only screen and (max-width: 1000px) {
    .aliados img{
        margin: 15px;
        transform: scale(0.9);
    }
}

.red{
    position: relative;
}

/* .pnud{
    position: absolute;
    right: 80px;
    bottom: 70px;
} */

/* .pnud img{
    position: relative;
    top: 5px;
    margin-left: 10px;
} */

.pnud{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
    .pnud{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.line{
    display: inline-block;
    height: 1px;
    background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 52.78%,#fff);
    width: 70px;
    position: relative;
    top: -5px;
    margin: 0px 10px;
}

@media only screen and (max-width: 1000px) {
    .line{
        display: none;
    }
}

.line.end{
    transform: rotate(-180deg)
}

.pnud p{
    font-size: 22px;
    font-family: "futuraBold";
    margin-bottom: 5px;
}

.pnud img{
    vertical-align: middle;
    margin-left: 7px;
}

@media only screen and (max-width: 1000px) {
    .pnud img{
        margin-left: 0px;
    }
    .pnud img{
        margin-top: 10px;
    }
}

.footer{
    padding: 120px 0px;
}

@media only screen and (max-width: 1000px) {
    .footer{
        padding: 0px;
    }
}

.redes{
    font-family: "futuraBold";
    border: 7px solid #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 7px 65px;
}

@media only screen and (max-width: 1000px) {
    .redes{
        padding: 70px 20px;
        padding-bottom: 50px;
        border: none;
    }
}

.footer .first{
    font-family: "futuraBkt";
    text-transform: uppercase;
    letter-spacing: 0.4px;
    line-height: 1.1;
    font-size: 16px;
}

.footer p{
    font-size: 18px;
}

.footer b{
    color: #ffd200;
}

.footer .links{
    margin-top: 30px;
    position: relative;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .footer .links{
        text-align: left;
    }
    .footer .links a{
        display: block;
        margin-bottom: 10px;
    }
}

.links .l1{left: 0; position: absolute;}
.links .l3{right: 0; position: absolute;}

@media only screen and (max-width: 1000px) {
    .links .l1, .links .l3{ position: static;}
}

.footer .links img{
    height: 20px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.redes a{
    color: #ffd200 !important;
    text-decoration: none !important;
}

.menu{
    background: #000;
    position: fixed;
    width: 100%;
    padding: 20px;
    padding-bottom: 13px;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu .container{
    position: relative;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.right-menu{
    position: absolute;
    right: 0;
    top: 5px;
}

@media only screen and (max-width: 1000px) {
  .right-menu {
      display: none;
  }
}

.right-menu a{
    color: #fff !important;
    text-decoration: none !important;
    text-transform: uppercase;
    font-family: "futuraBkt";
    font-size: 11px;
    letter-spacing: 0.5px;
    margin-left: 30px;
}

.social{
    margin-left: 20px;
}

.social a{
    margin-left: 10px;
}

.right-menu img{
    vertical-align: middle;
    height: 20px;
}

.box{
    font-family: 'futuraCB';
    width: 180px;
    background: #f80016;
    padding: 10px;
    position: absolute;
    right: 70px;
    bottom: 60px;
}

@media only screen and (max-width: 1000px) {
    .box{
        position: static;
        width: 100%;
        margin-top: 40px;
    }
}

.box.boxblue{
    right: auto;
    left: 70px;
    background: #2a347a;
}

.box.boxyellow{
    background: #fab400;
}

.box p{
    text-transform: uppercase;
    margin: 0px;
    padding: 10px;
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 1.4;
}

@media only screen and (max-width: 1000px) {
    .box p{
        font-size: 15px;
        letter-spacing: 0.6px;
    }
}

.box .box-white p{
    text-align: left;
    color: #000;
}

.dialog{
    height: 17px;
    display: block;
}

.diasmall{
    position: relative;
    top: -5px;
}

.box small{
    font-family: "futuraBold";
    font-size: 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0px;
    position: relative;
    top: -7px;
}

.ama{
    float: right;
}

.box-white{
    background: #fff;
    text-align: center;
}

.micro{
    height: 140px;
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

.ventanas{
    color: #000;
}

.ventanas .container{
    position: relative;
}

.ventanaoptions{
    position: absolute;
    right: 15px;
    top: 90px;
    /* border: 1px solid #eee; */
    border-top: none;
    z-index: 20;
}

.ventana{
    width: 150px;
    border-bottom: 3px solid #f1f1f1;
    padding: 15px 0px;
    padding-bottom: 12px;
    text-align: center;
    float: left;
    background: #fafafa;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'futuraBold';
    letter-spacing: 0.3px;
    color: #999;
    cursor: pointer;
}

.ventana.selected{
    color: #289548;
    border-bottom: 3px solid #289548;
}

.recursos{
    padding: 50px 0px;
    padding-bottom: 220px;
}

@media only screen and (max-width: 1000px) {
    .recursos{
        padding-bottom: 50px;
    }
}

.recursos .container{
    position: relative;
    padding: 0px 15px;
}

.recursos .video{
    position: relative;
    max-width: 550px;
}

 .videomenu{

 }


.recursos h3{
    color: #000;
    /* max-width: 600px; */
    text-align: right;
    font-size: 25px;
    margin-bottom: 0px;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
}

.recursos h3 span{
    background: #fff;
    position: relative;
    z-index: 40;
    display: inline-block;
    padding: 0px 10px;
    padding-right: 20px;
}

.recursos .hrl{
    height: 1px;
    background: #aaa;
    margin-bottom: 40px;
    position: relative;
    top: -10px;
}

.video iframe{
    height: 380px;
}

@media only screen and (max-width: 1000px) {
    .video iframe{
        height: 250px;
    }
}

.videomenu{
    position: absolute;
    width: calc(100% - 550px);
    right: 20px;
    color: #000;
    padding-left: 70px;
}

.voption{
    border-top: 1px solid #c9c9c9;
    padding: 15px 15px;
    padding-top: 15px;
    margin-bottom: 15px;
    font-family: 'futuraBold';
    /* border-radius: 5px; */
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
    opacity: 0.5;
    /* background: #f9f9f9; */
    font-size: 17px;
    position: relative;
    line-height: 1.2;
}


.voption .label{
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
}

.slides .voption .label{
    display: none;
}

@media only screen and (max-width: 1000px) {
    .videomenu{
        position: static;
        width: 100%;
        padding-left: 0px;
    }

    .voption{
        width: 24%;
        display: inline-block;
        text-align: center;
        padding: 10px;
        box-shadow: none;
        opacity: 0.3;
    }

    .voption .label{
        margin-bottom: 0px;
    }
    .slides .voption .label{
        display: block;
    }
}

.voption small{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 12px;
    color: #777;
}

.voption .selector{
    position: absolute;
    left: -25px;
    top: calc(50% - 10px);
    display: none;
}


@media only screen and (max-width: 1000px) {
    .voption .optitle{
        display: none;
    }
    .voption .time{
        display: none;
    }
}

.voption:hover{
    opacity: 1;
}

.voption.selected{
    opacity: 1;
    background: #fff;
    /* border-top-width: 10px !important; */
    border: 1px solid #c9c9c9;
    /* background: #000; */
}

.voption.selected .selector{
    display: block;
}

@media only screen and (max-width: 1000px) {
    .voption.selected .selector{
        display: none;
    }
}

.recursos h2{
    color: #000;
    border-color: #000;
    border: none;
    /* text-align: center; */
    max-width: 600px;
    /* margin: 0 auto; */
    line-height: 1.2;
    padding: 0px;
    margin-bottom: 15px;
}

.recursos h2 small{
    font-family: 'futuraBook';
}

.recursos h2 small img{
    width: 30px;
    position: relative;
    top: 4px;
    margin-right: 3px;
}
